.ropeproject/
node_modules
*.pyc
*.log
*.log.*
.DS_Store
db.sqlite3
.idea
.coverage
coverage.xml
nosetests.xml
.vscode
venv
.happypack/
*_local.conf
.parallelUglify/
coverage
fe-config.js
static_dist/
!fe/doc/template/**
package-lock.json
